/**
 * @overview Summary styles.
 */

.summary-wrapper {
  padding-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;

  h1 {
    font-size: 1.4em;
    font-weight: 300;
  }
}

.summary-paragraph {
  font-size: 1.1rem;
  line-height: 1.3;
}

.summary-button {
  padding-top: 2%;
}