/**
 * @overview Hero Image styles.
 */

.heroImage {
  width: 100%;
  height: 100%;
}

/* Portrait */
@media only screen
and (max-device-width: 400px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

  .heroImage {
    height: 100%;
    width: 100%;
  }

}