/**
 * @overview main application styles.
 */

body {
  margin: 0;
  padding: 0;
  font-family: open sans,Arial,Helvetica,sans-serif;
  color: #343434;
  -webkit-font-smoothing: antialiased;
}

#application-wrapper {
  padding-top: 75px;
}
