/**
 * @overview Vegas Box styles.
 */

#vegas-box-wrapper {
  height: auto;
  position: absolute;
  right: 0;
  width: 25%;
  background: #fff;
  padding: 3%;
  margin-top: 3%;
  margin-right: 3%;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0,0,0,.2) 0 0 10px;
  -moz-box-shadow: rgba(0,0,0,.2) 0 0 10px;
  box-shadow: rgba(0,0,0,.2) 0 0 10px;
  -webkit-transition:height, 0.5s linear;
  -moz-transition: height, 0.5s linear;
  transition: height, 0.5s linear;

  .hidden {
    height: 0;
    -webkit-transition:height, 0.5s linear;
    -moz-transition: height, 0.5s linear;
    transition: height, 0.5s linear;
  }
}