/**
 * @overview Vegas Box styles.
 */

#vegas-box-wrapper {
  height: auto;
  position: absolute;
  right: 0;
  width: 25%;
  background: #fff;
  padding: 1.5%;
  margin-top: 3%;
  margin-right: 3%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, .2) 0 0 10px;
  -moz-box-shadow: rgba(0, 0, 0, .2) 0 0 10px;
  box-shadow: rgba(0, 0, 0, .2) 0 0 10px;
}

h2 {
  cursor: pointer;
  text-transform: none;
  letter-spacing: 1px;
  font-size: 1.3em;
  font-weight: 300;
  word-wrap: break-word;
  text-align: center;
}

.vegas-box-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

li {
  font-size: 90%;
  line-height: 1.5;
  word-wrap: break-word;
  margin-bottom: 5px;
}

.hidden {
  display: none;
}